*
{
	margin: 0;
	padding: 0;
}

ul
{
 list-style:none; /* 去掉ul前面的符号 */
    margin: 0px; /* 与外界元素的距离为0 */
    padding: 0px; /* 与内部元素的距离为0 */
    width: auto; /* 宽度根据元素内容调整 */
}
li
{
	
font-size:40px; line-height:40px;
background-color: #bfcbd6;
float: left;
width: 15%;
heigh:50px;
text-align:center;
}
li:HOVER
{
	
background-color:#BFFDF8; /* 背景色 */
    color: #12FDF8; /* 文字颜色 */
    text-decoration: none; /* 不显示超链接下划线 */
}
a:hover,a:active
{
background-color:#12FDF8;
}
#category
{
	
}
body
{
	margin-left:100px;margin-right: 100px;
	margin-top: 50px;
	background: #E8EAED;
}
a
{
	
	text-decoration:none;
}